.bg-image-consumer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center top; 
  /* transform: translateY(-10%); */
  z-index: 0;
}

.banner-overlay-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.3); 
  z-index: 1;
}


.product-card {
  overflow: hidden; /* Ensures the image doesn't overflow the card */
}

.product-card img {
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}




@media (max-width: 768px) {
  .bg-image-consumer{
    transform: scale(1.05) translateX(-2%);
    object-position: center left;
  }
}

