.cart-container {
  padding: 20px 0px;
  font-family: 'Inter', sans-serif;
  
}

.cart-container h2{
  font-weight: 600px;
  font-size: 24px;
  margin-top: auto;
  margin-left: 80px;
  color: #1C1C1C;
}

.cart-content {
  max-width: 1200px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
}

.cart-items {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  flex: 1 1 60%;
  align-items: flex-start;
}

.cart-item {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  align-items: flex-start;
}

.cart-item img {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  background-color: #F7F7F7;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.item-info {
  flex: 1;
  margin: 0;
  padding: 0;
}

.item-info h4 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 500;
}

.item-info p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #8B96A5;
  padding: 5px 0 1px 0;
}

.seller {
  margin-top: 5px;
}

.actions {
  margin-top: 10px;
}

.remove-btn,
.save-btn {
  margin-right: 10px;
  font-size: 14px;
  padding: 6px 8px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  border-radius: 6px;
}

.remove-btn {
  background-color: white;
  color: red;
}

.remove-btn:hover {
  background-color: #f3f4f6; 
}

.save-btn {
  background-color: white;
  color: #007bff;
}

.save-btn:hover {
  background-color: #f3f4f6; 
}

.item-right {
  text-align: right;
  margin-top: 0; 
  padding-top: 0; 
}

.price {
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}


.qty-select-wrapper {
  position: relative;
  display: inline-block;
  /* width: 100px; */
}

.qty-dropdown {
  width: 100%;
  padding: 8px 55px 8px 10px;
  font-size: 16px;
  color: #1C1C1C;
  border: 1px solid #ccc;
  border-radius: 6px;
  appearance: none;
  background-color: white;
}

/* FontAwesome icon */
.fa-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  pointer-events: none;
  transform: translateY(-50%);
  color: #333;
  font-size: 12px;
}


.bottom-actions {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
}

.back-btn,
.remove-all-btn {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.back-btn {
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.back-btn:hover{
    background: linear-gradient(180deg, #0067FF 0%, #127FFF 100%);
}

.remove-all-btn {
  font-weight: 500;
  background-color: white;
  border: 1px solid #DEE2E7;
  color: #127FFF;
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  font-size: 16px;
}

.remove-all-btn:hover{
  border: 1px solid #a5a5a8ff;
}


/* right section */
.cart-summary {
  /* flex: 1 1 30%; */
}

.coupon{
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
}

.coupon p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #505050;
}

.coupon-input {
  display: flex;
  align-items: stretch;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  overflow: hidden;
  width: fit-content;
}

.coupon-input input {
  border: none;
  padding: 8px 0px 8px 10px;
  font-size: 14px;
  outline: none;
  border-right: 1px solid #d1d5db;
}

.coupon-input input::placeholder {
  font-size: 16px;
  color: #8B96A5;
}

.coupon-input button {
  border: none;
  padding: 8px 14px 8px 14px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: #0D6EFD;
  cursor: pointer;
}

.coupon-btn:hover{
  background-color: #f5f6f8ff;
}

.summary {
  margin-top: 10px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 25px 15px 10px 20px;
}

.summary div {
  color: #505050;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 15px;
  font-size: 16px;
  border-top: 1px solid #d1d5db;
  color: black;
  font-weight: 600;
}

.total-price {
  font-size: 20px;
  font-weight: 600;
  color: black;
}


.green {
  color: red;
}

.red {
  color: green;
}

.checkout-btn {
  width: 100%;
  padding: 18px 10px;
  margin-top: 10px;
  background-color: #00b341;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.payments {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 0; 
  gap: 0;
  cursor: pointer;
  /* gap: -20px; */
  
}

.payments img {
  margin-top: 5px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 2px;
  width: 30px;
  height: 15px;
  object-fit: contain;
  font-size: 14px;
  /* display: block; */
}


.coupon-success {
  color: #4BB543 !important;
  font-size: 12px !important;
  margin-top: 6px !important;
}





/* Tablet screens (≤1024px) */
@media (max-width: 1440px) {
  .cart-container h2 {
    /* margin-left: 100px; */
  }
}


@media (max-width: 1024px) {
  .cart-container{
    margin-left: 50px;
    margin-right: 50px;
  }

  .cart-container h2 {
    margin-left: 2px;
    font-size: 22px;
  }

  .cart-content{
    display: flex;
    flex-direction: row; 
    gap: 15px;
    /* width: 100%;  */
    flex-wrap: nowrap; 
    justify-content: space-between;
  }
}



/* Mobile screens (≤767px) */
@media (max-width: 768px) {
   .cart-container{
    margin-left: 50px;
    margin-right: 50px;
  }

  .cart-container h2 {
    margin-left: 2px;
    font-size: 22px;
  }

  .cart-content{
    display: flex;
    flex-direction: row; 
    gap: 5px;
    flex-wrap: nowrap; 
    justify-content: space-between;
  }

  .cart-items {
    padding: 10px 10px 10px 10px;
  }

  .cart-item {
    gap: 10px;
    padding: 10px 0;
  }

  .cart-item img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .item-info h4 {
    font-size: 14px;
  }

  .item-info p {
    font-size: 12px;
  }

  .seller {
    font-size: 12px;
  }

  .remove-btn,
  .save-btn {
    font-size: 12px;
    padding: 6px 8px;
  }

  .price {
    font-size: 14px;
  }

  .qty-dropdown {
    padding: 8px 35px 8px 10px;
    font-size: 12px;
  }

  .cart-summary{
    width: 200px;
  }
  .coupon{
    padding: 10px 10px !important;
  }
  .coupon p{
    font-size: 14px;
  }
  .coupon-input input {
    padding: 8px 0px 8px 10px;
    font-size: 12px;
    width: 100px;
  }

  .coupon-input input::placeholder {
    font-size: 12px;
  }

  .coupon-input button {
    padding: 8px 10px 8px 10px;
    font-size: 12px;
    font-weight: 500;
  }

  .summary{
    padding: 10px 10px !important;
  }
  .summary div {
  font-size: 14px;
  }
  .total {
    font-size: 14px;
  }
  .total-price {
    font-size: 16px;
  }

  .checkout-btn {
    padding: 14px 10px;
    font-size: 16px;
  }

  .payments {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
  }

  .payments img {
    width: 25px;
    height: 10px;
  }

  .back-btn {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
  }

  .remove-all-btn {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
  }
}


