.info-section {
  display: flex;
  gap: 60px;
  background-color: #f8fbfd; /* light background */
  padding: 30px 0;
  margin: auto;
  max-width: 1200px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-icon {
  background-color: #dfe4ea;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;  
  color: #8B96A5;
  font-size: 20px;
  padding: 4px;
}


.info-text h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.info-text p {
  font-size: 16px;
  color: #b8babd;
  margin: 0;
}
