.footer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #696868;
}

.footer-sub-left {
  font-size: 16px;
  padding: 0px 0px 0px 40px;
}

.footer-sub-right {
  position: relative;
  display: flex;
  align-items: center;
  display: inline-flex;
  gap: 8px;
  padding: 0px 40px 0px 0px;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}

.flag-icon {
  object-fit: cover;
  width: 26px;  
  height: 16px; 
  vertical-align: middle; 
}

.language-text {
  font-size: 14px;
  color: #555454;
}

.arrow-icon {
  font-size: 12px;
  color: rgb(39, 38, 38);
}

.footer-dropdown {
  position: absolute;
  /* top: 100%;
  left: 0; */
  bottom: 100%; 
  right: 0; 
  margin-bottom: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-top: 6px; */
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  gap: 8px;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

.dropdown-item:hover .language-text {
  color: white;
}

.dropdown-item .flag-icon {
  margin-right: 6px;
}
